@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500&display=swap');

* {
	font-family: roboto;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	display: flex;
	justify-content: center;
	text-align: center;
}

.logo {
	margin: 20px 0 5px 0;
	width: 240px;
}

form {
	height: 410px;
	width: 396px;
	border-radius: 8px;
    box-shadow: 0 2px 24px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 0 28px;
    width: 396px;
}

form .form-title {
	padding-top: 20px;
}

form p {
	color: #1c1e21;
	font-size: 18px;
    line-height: 22px;
}

.inputs {
	margin: 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 123px
}

input {
	border-radius: 6px;
    font-size: 17px;
	background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
	width: 100%;
	padding: 14px 16px;
}

button {
	background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 100%;
	color: #fff;
}

.fp {
	margin: 5px 0;
}

.forgotten_password {
	color: #1877f2;
    font-size: 14px;
    font-weight: 500;
    color: #385898;
    cursor: pointer;
    text-decoration: none;
	text-align: center;
	direction: ltr;
    line-height: 1.34;
}

._1rf5 {
	font-size: 14px;
	position: relative;
	top: -12px;
	left: 160px;
	background-color: #fff;
	width: 30px;
	color: #7d7d7d;
}

.new_account {
	border: none;
    border-radius: 6px;
	font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
	background-color: #42b72a;
	color: #fff;
	cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
	width: 70%;

}